In [1]:
#Libraries
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import numpy as np
from collections import namedtuple

[QuantEcon](https://quantecon.org/) uploaded Madison data from Historical GDP values in their GitHub Repository. Hence, below we call this data from GitHub as an Excel file.

In [2]:
data_url = "https://github.com/QuantEcon/lecture-python-intro/raw/main/lectures/datasets/mpd2020.xlsx"
data = pd.read_excel(data_url, 
                     sheet_name='Full data')
data.head()

  countrycode      country  year   gdppc     pop
0         AFG  Afghanistan  1820     NaN  3280.0
1         AFG  Afghanistan  1870     NaN  4207.0
2         AFG  Afghanistan  1913     NaN  5730.0
3         AFG  Afghanistan  1950  1156.0  8150.0
4         AFG  Afghanistan  1951  1170.0  8284.0

Data from [Madison's project](https://www.rug.nl/ggdc/historicaldevelopment/maddison/) is available for Gross Domestic Product (GDP) per Capita and Population in a cross-sectional panel of country-year. Please take into account that this data is inferred from a plea of historical sources, much of them not very reliable, especially from values from centuries ago in which national accounting wasn't set as a common policy for states.

In [5]:
# Let's define countries as a unique list from the Excel column of countries
countries = data.country.unique()
# Now we can check the available data for each country in term of years
country_years = []
for country in countries:
    cy_data = data[data.country == country]['year']
    ymin, ymax = cy_data.min(), cy_data.max()
    country_years.append((country, ymin, ymax))
country_years = pd.DataFrame(country_years,
                    columns=['country', 'min_year', 'max_year']).set_index('country')
country_years.head()

                      min_year  max_year
country
Afghanistan               1820      2018
Angola                    1950      2018
Albania                      1      2018
United Arab Emirates      1950      2018
Argentina                 1800      2018